*{
    padding: 0;
    margin: 0;
}

.main_box {
  background: url(pic.jpg);
  height: 100vh;
  background-size: cover;
}

.btn_one {
  color: white;
  font-size: 40px;
  position: absolute;
  left: 16px;
  line-height: 60px;
  
}