*{
    padding: 0;
    margin: 0;
}

.main_box {
  background: url(pic.jpg);
  height: 100vh;
  background-size: cover;
}

.btn_one {
  color: white;
  font-size: 39px;
  position: absolute;
  left: 16px;
  line-height: 60px;
  
}

.sidebar_menu{
    position: fixed;
    height: 100vh;
    width: 30vh;
    background-color: rgba(0, 0, 0, 0.627);
    box-shadow:0 0 6px rgba(220, 215, 215, 0.5);

}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 1 1 6px rgba(220, 215, 215, 0.5);

}
.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.sidebar_menu .btn_two {
    color: rgb(156, 141, 141);
    font-size: 20px;
    position: absolute;
    left: 175px;
    line-height: 60px;
    
  }
.sidebar_menu .menu{
    position: absolute;
    top: 80px;
    width: 100%;

}

.sidebar_menu .menu li{
   
    margin-top: 6px;
    padding: 10px 20px;
}

.sidebar_menu .menu i,a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.sidebar_menu .menu i{
    padding-right: 8px;
   
}

.sidebar_menu .social_media{
    color: white;
    position: absolute;
    left: 45px;
    bottom: 20px;

}
